body {
  margin: auto;
}
.Books {
  margin-top: 50px;
  display: inline-block;
}
.cards {
  display: inline-block;
  max-width: 200px;
  max-height: 400px;
  margin: 20px;
}
.book-image,
.author-image {
  width: 200px;
  height: 300px;
}
.card-body {
  height: 80px;
  text-align: justify;
  /* font-size: 0.8rem; */
}
.per {
  float: right;
  color: rgb(5, 172, 55);
  font-size: 0.8rem;
  padding: auto;
  margin: 0 0 10px 0;
}
.book-title {
  font-size: 0.9rem;
}
.author-card-body {
  height: 60px;
  text-align: center;
}
